---
import Layout from "../../layouts/Layout.astro";
import Header from "../../layouts/Header.astro";
import Footer from "../../layouts/Footer.astro";
import EventActions from "../../components/EventActions.tsx";

export const prerender = false;

const { id } = Astro.params;
const response = await fetch(`http://localhost:5000/event/${id}`);
const event = await response.json();
---

<Layout>
    <Header />
    <section class="bg-white py-12">
        <div
            class="container mx-auto px-4 max-w-3xl flex flex-col items-center"
        >
            <h1 class="text-3xl font-bold mb-6">{event.titre}</h1>
            <p class="text-gray-600 mb-2 text-sm">
                Publié le {
                    new Date(event.date_publication).toLocaleDateString()
                }
            </p>
            <div class="mt-6 text-gray-800 leading-relaxed whitespace-pre-line">
                {event.description}
            </div>
            <div>
                <img
                    src={`http://localhost:5000${event.image}`}
                    alt={`Image de ${event.titre}`}
                    class="mt-6 w-full h-auto rounded-lg shadow-md"
                />
            </div>
            <div class="mt-8">
                <a href="/events" class="text-blue-600 hover:underline">
                    ← Retour aux événements
                </a>
            </div>

            <!-- Boutons conditionnels -->
            <EventActions client:load eventId={event.id} />
        </div>
    </section>
</Layout>

<Footer />
