---
import Layout from "../../layouts/Layout.astro";
import Header from "../../layouts/Header.astro";
import Footer from "../../layouts/Footer.astro";
import DeleteArticleModal from "../../components/DeleteArticleModal";

// Rendu dynamique (pas de pré-render au build)
export const prerender = false;

// Récupération de l'ID de l'article depuis l'URL
const { id } = Astro.params;

// Appel serveur
const response = await fetch(`http://localhost:5000/event/${id}`);
const event = await response.json();

// Simule un utilisateur connecté
const user = {
    role: "membre_bureau",
};
---

<Layout>
    <Header />
    <section class="bg-white py-12">
        <div
            class="container mx-auto px-4 max-w-3xl flex flex-col items-center"
        >
            <h1 class="text-3xl font-bold mb-6">{event.titre}</h1>
            <p class="text-gray-600 mb-2 text-sm">
                Publié le {
                    new Date(event.date_publication).toLocaleDateString()
                }
            </p>
            <div class="mt-6 text-gray-800 leading-relaxed whitespace-pre-line">
                {event.description}
            </div>
            <div>
                <img
                    src={`http://localhost:5000${event.image}`}
                    alt={`Image de ${event.titre}`}
                    class="mt-6 w-full h-auto rounded-lg shadow-md"
                />
            </div>
            <div class="mt-8">
                <a href="/news" class="text-blue-600 hover:underline">
                    ← Retour aux actualités
                </a>
            </div>
            {
                user.role === "membre_bureau" && (
                    <div class="mt-8 w-full flex justify-end gap-4">
                        <a
                            href={`/news/edit/${event.id}`}
                            class="bg-yellow-500 text-white px-4 py-2 mb-4 rounded hover:bg-yellow-600"
                        >
                            Modifier
                        </a>
                        {/*  <DeleteArticleModal
                            client:load
                            eventId={event.id}
                            onEventDeleted={() =>
                                window.dispatchEvent(
                                    new Event("event-deleted"),
                                )
                            }
                        /> */}
                    </div>
                )
            }
        </div>
    </section>
</Layout>

<Footer />
